body
{
  padding-left: 100px;
  font-family:"Zapf-Chancery",cursive;
 font-size: 25px;
  background-color:#fff0f5;
 color:#0f0f6d;
}
.foot
{
  background-color:#bbb;
  color:white;
  max-height:auto;
  max-width:100%;
  font-weight:italics;
  background-image:linear-gradient(to top left,rgb(231, 69, 196),green);
  font-size:30px;
  font-family:cursive;
  display:inline-block;
  padding:10px;
  text-align:center;
  margin:10px 30px;
  border:2px solid seagreen;
  cursor:pointer;
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .foot2
{
  background-color:#bbb;
  color:white;
  max-height:auto;
  max-width:100%;
  font-weight:italics;
  background-image:linear-gradient(to top left,rgb(231, 228, 69),rgb(49, 0, 128));
  font-size:30px;
  font-family:cursive;
  display:inline-block;
  padding:10px;
  text-align:center;
  margin:10px 30px;
  border:2px solid seagreen;
  cursor:pointer;
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .card 
  {
    box-shadow: 0 4px 8px 0 rgba(119, 5, 5, 0.2);
    margin-left:auto;
    margin-right:auto;
    clear: both;
    display: inline;
  }
  
  